<div id="app-navbar">
	<div class="app-logo">
		AutoRad
	</div>

	<div class="app-navbar-menu">
		<ul id="navbar-menu">
			<li class="navbar-menu-list">Home</li>
			<li class="navbar-menu-list navbar-menu-submenus">	
			  Vehicle <i class="fa fa-angle-down" aria-hidden="true"></i>
			  <ul id="vehicle-sub-menus" class="sub-menu">
					<li>BMW</li>
					<li>Mercedes-Benz</li>
					<li>Audi</li>
					<li>Porsche</li>
					<li>Range Rover</li>
					<li>Toyota</li>
					<li>Ford</li>
					<li>Chevrolet</li>
				</ul>
			</li>
			<li class="navbar-menu-list navbar-menu-submenus" id="motocycles-menu">
				Motocycles  <i class="fa fa-angle-down" aria-hidden="true"></i>
				<ul id="motocycles-sub-menus" class="sub-menu">
					<li>BMW</li>
					<li>Mercedes-Benz</li>
					<li>Audi</li>
					<li>Porsche</li>
					<li>Range Rover</li>
					<li>Toyota</li>
					<li>Ford</li>
					<li>Chevrolet</li>
				</ul>
			</li>
			<li class="navbar-menu-list navbar-menu-submenus">Delivery <i class="fa fa-angle-down" aria-hidden="true"></i>
				<ul id="delivery-sub-menus" class="sub-menu">
					<li>BMW</li>
					<li>Mercedes-Benz</li>
					<li>Audi</li>
					<li>Porsche</li>
					<li>Range Rover</li>
					<li>Toyota</li>
					<li>Ford</li>
					<li>Chevrolet</li>
				</ul>
			</li>
			<li class="navbar-menu-list">About us</li>
			<li class="navbar-menu-list">Contact us</li>
			<li class="navbar-menu-list">中文</li>
			<li class="navbar-menu-list">...</li>
		</ul>
	</div>
</div>