<div id="app-navbar">
	<div class="app-logo">
		<img src="http://placehold.it/140x40">
	</div>

	<div class="app-navbar-menu">
		<ul id="navbar-menu">
			<li class="navbar-menu-list home-menu"><%= link_to "Home",  home_index_path %></li>
			<li class="navbar-menu-list navbar-menu-submenus vehicles-menu">	
			  Vehicle <i class="fa fa-angle-down" aria-hidden="true"></i>
			  <ul id="vehicle-sub-menus" class="sub-menu">
			  	<% @vehicle_menus.each do |vehicle_menu| -%>
			  		<li><%= link_to vehicle_menu.name, vehicle_path(vehicle_menu.id) %></li>
			  	<% end -%>
				</ul>
			</li>
			<li class="navbar-menu-list navbar-menu-submenus motocycles-menu" id="motocycles-menu">
				Motocycles  <i class="fa fa-angle-down" aria-hidden="true"></i>
				<ul id="motocycles-sub-menus" class="sub-menu">
					<% @motocycles_menus.each do |motocycles_menu| -%>
			  		<li><%= link_to motocycles_menu.name, motocycle_path(motocycles_menu.id) %></li>
			  	<% end -%>
				</ul>
			</li>
			<li class="navbar-menu-list navbar-menu-submenus">Delivery <i class="fa fa-angle-down" aria-hidden="true"></i>
				<ul id="delivery-sub-menus" class="sub-menu">
					<li>BMW</li>
					<li>Mercedes-Benz</li>
					<li>Audi</li>
					<li>Porsche</li>
					<li>Range Rover</li>
					<li>Toyota</li>
					<li>Ford</li>
					<li>Chevrolet</li>
				</ul>
			</li>
			<li class="navbar-menu-list">About us</li>
			<li class="navbar-menu-list">Contact us</li>
			<li class="navbar-menu-list">中文</li>
			<li class="navbar-menu-list">...</li>
		</ul>
	</div>
</div>