<div class="home-image">
	<div class="image-wrapper">
		<img src="http://placehold.it/1600x600">
		<p><%= @vehicle.name %></p>
		<i class="fa fa-angle-down scroll-down" aria-hidden="true">
	</div>
</div>
